html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    min-height: 100%;
    font-family: 'Oswald', sans-serif;
}

.form {
    max-width: 800px;
    margin: auto;
    padding: 15px;
    border-radius: 30px;
}

.form__label{
    color: white;
}
.form__header {
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    color: white;
}

.form__fieldset {
    border: 0px;
    text-align: center;
    font-size: 25px;
}

.form__result {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    border-top: 5px solid #9ae293;
    padding-top: 15px;
    color: white;
}

.form__button {
    background-color: #6cae6b;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:#9ae293;
    margin: 20px;
}

.form__bracket {
    border-color: rgb(204, 204, 204);
    border: 2px solid;
    border-radius: 10px;
    padding: 7px;
}